* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Poppins';
  font-size: 10pt;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
	padding-top: 40px;
}
.container{
    max-width: 1619px;
    margin: 0 auto;
}
.Home {
    background: url("/backgrounds/background-apresentation.jpg") 0 no-repeat;
	background-size: 100% 787px;
	height: 787px;
}
.Plan{
	background: linear-gradient(180deg, rgba(161,119,214,1) 0%, rgba(213,180,255,1) 100%);
	height: 800px;
}
footer{
	background: #1E1E1E;
	min-height: 419px;
}
.footer-item{
	flex: 1;
}
.divider{
	padding-top: 30px;
}
@media only screen and (max-width:1620px){
	.container{
		max-width: 1400px;
	}
}
@media only screen and (max-width:1410px){
	.Home{
		background: linear-gradient(180deg, rgba(161,119,214,1) 0%, rgba(213,180,255,1) 100%);
		height: 800px;
	}
	.container{
		max-width: 100%;
	}
}
@media only screen and (max-width:1200px){
	.Home{
		height: 1500px;
	}
	.Plan{
		height: 1340px;
	}
	.container{
		max-width: 100%;
	}
}