.database_selector_container{
    min-height: 901px;
}
.database_text_container{
    padding-top: 250px;
}
.database_title{
    color: #FFFFFF;
    font-size: 23px;
    max-width: 491px;
    line-height: 35px;
}

.database_title strong{
    font-size: 23px;
    color: #1E1E1E;
    font-weight: 800;
}
.database_text{
    padding-top: 45px;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
}
.databases_container{
    padding-top: 45px;
    display: flex;
}
.database_selected{
    cursor: pointer;
    margin-right: 10px;
    display: flex;  
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 3.5px 4.5px;
    text-decoration: none;
}
.database{
    cursor: pointer;
    margin-right: 10px;
    display: flex;  
    align-items: center;
    justify-content: center;
    background: #A177D6;
    border-radius: 10px;
    padding: 3.5px 3.5px;
    text-decoration: none;
}
.database_usa_icon{
    background: url("/icons/Usa.png") 0 no-repeat;
    width: 50px;
    height: 50px;
}
.database_br_icon{
    background: url("/icons/Brazil.png") 0 no-repeat;
    width: 50px;
    height: 50px;
}
.database_name{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}
.database_name_selected{
    color: #1E1E1E;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}
.prices_box_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 230px 200px; /* row-gap column gap */
    padding-bottom: 187px;
}
.price_title{
    justify-content: center;
}
.price_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 387px;
    min-height: 638px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 3px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 4px 3px 4px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 3px 4px rgba(0,0,0,0.4);
}
.price_spec{
    padding-left: 35px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.browser_icon{
    background: url("/icons/Browser.png") 0 no-repeat;
    width: 41px;
    height: 36px;
    padding-right: 20px;
}
.storage_icon{
    background: url("/icons/Server.png") 0 no-repeat;
    width: 42px;
    height: 36px;
    padding-right: 20px;
}
.processor_icon{
    background: url("/icons/Processor.png") 0 no-repeat;
    width: 41px;
    height: 41px;
    padding-right: 20px;
}
.disk_icon{
    background: url("/icons/Save.png") 0 no-repeat;
    width: 38px;
    height: 41px;
    padding-right: 20px;
}
.price{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.price_title_price{
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}
.price_title {
    font-size: 40px;
    line-height: 60px;
    color: #9768D1;
    font-weight: 700;
    padding-right: 15px;
}
.price_waves{
    background: url("/waves.png");
    width: 391px;
    height: 34px;
}
.price_spec_text{
    font-size: 18px;
    line-height: 27px;
    color: #1E1E1E;
}
.price_spec_text strong{
    font-size: 18px;
    color: #9768D1;
}
.price_button_container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.price_buy_button{
    font-size: 22px;
    font-weight: 800;
    color: #FFFFFF;
    background: #9768D1;
    border-radius: 30px;
    padding: 17.5px 40.39px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    margin-bottom: 30px;
    text-decoration: none;
}
.prices{
    min-height: 707px;
    padding-top: 0px;
}
.price_buy_button:hover{
    cursor: pointer;
    color: #1E1E1E;
}